<mat-toolbar color="primary" style="margin-bottom:20px;">
<div class="header-items">
  <a routerLink="students">Students</a>
</div>
<ul>
  <li *ngIf="checkAuth();">
    <a routerLink="create" >New Students</a>
  </li>
  <li *ngIf="!checkAuth();">
    <a routerLink="login" >Login</a>
  </li>
  <li *ngIf="!checkAuth();">
    <a routerLink="signup" >Sign</a>
  </li>
  <li *ngIf="checkAuth();">
    <a mat-button (click)="doLogout()">Logout</a>
  </li>
</ul>


</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>



<!-- <mat-toolbar color="primary">Registration Form</mat-toolbar>
<ul>
  <li *ngFor="let item of students">{{item.id}} {{item.name}} {{item.branch}}</li>
</ul>
 -->

<!-- <div class="main-container">
  <custom-input input-label="Enter Your Name"></custom-input>
  <br>
  <br>
  <custom-input  input-label="Enter Your Email"></custom-input>
<br>
<input type="text" [(ngModel)]="userInput">
<button (click)="onClick()">Add</button>
 <h1>{{message}}</h1>
<br>
<input type="text" [(ngModel)]="ruserInput">
<button (click)="remove()">Delete</button>
<ul>
  <li *ngFor="let name of names">{{name | uppercase}}</li>
  <piping with dates>

</ul>

<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button> show = {{show}}
<p [ngClass]="{'green': show, 'red': !show}">show={{show}}</p>
<br>
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
</div>
 -->

 <!-- <app-ang-basic></app-ang-basic> -->
